{% set i = 0 %}

{% for message in app.flashes('success') %}
	{% set i = i + 1 %}
	<div class="row flashMessage" id="flashMsg{{ i }}">
		<div class="col-lg-12 mb-4">
            <div class="card bg-success text-white shadow">
                <div class="card-body">
                    <div class="text-white-100 small">{{ message }}</div>
                </div>
            </div>
        </div>
	</div>
{% endfor %}

{% for message in app.flashes('error') %}
	{% set i = i + 1 %}
	<div class="row flashMessage" id="flashMsg{{ i }}">
		<div class="col-lg-12 mb-4">
            <div class="card bg-danger text-white shadow">
                <div class="card-body">
                    <div class="text-white-100 small">{{ message }}</div>
                </div>
            </div>
        </div>
	</div>
{% endfor %}
