{% extends 'base.html.twig' %}

{% block body %}

<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Bienvenidos</h1>

<div class="row">
	<div class="col-lg-12 mb-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Viajes Inmobilia</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                        src="/assets/sb-admin-2/img/undraw_posting_photo.svg" alt="">
                </div>
                <p>
                	Una agencia de viajes desea automatizar la gestión de los clientes que acuden a su oficina 
                	y los viajes que éstos realizan. La agencia proporciona la siguientes requerimientos e 
                	información de interés:
                </p>
                <ul>
                	<li>
                		Se desea guardar la siguiente información de los viajeros: cédula, nombre, fecha nacimiento y teléfono. 
                		<a href="{{ path('front_viajeros_index') }}">Módulo de Viajeros</a>
                	</li>
                	<li>
                		Se desea agregar información de viajes disponibles para ofrecer a los clientes: código de viaje, número de plazas, destino , lugar de origen y precio. 
                		<a href="{{ path('front_viajes_index') }}">Módulo de Viajes</a>
                	</li>
                	<li>Un viajero puede realizar tantos viajes como desee.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}