{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.error {
		    color: #e74a3b;
		    font-size: 1rem;
		    position: relative;
		    line-height: 1;
		    padding-left: 15px;
		    width: 100%;
		}
	</style>
{% endblock %}

{% block body %}

<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Gestión de Viajeros</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Viajero</h6>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <div class="col-sm-8 mb-3 mb-sm-0">
            	<label for="nombre">Nombre</label>
                <input type="text" class="form-control form-control-user" id="nombre" name="nombre" value="{{ viajero.nombre }}" readonly="readonly">
            </div>
            <div class="col-sm-4 mb-3 mb-sm-0">
            	<label for="edad">Edad</label>
                <input type="text" class="form-control form-control-user" id="edad" name="edad" value="{{ render(controller('App\\Controller\\DefaultController::calcularEdad', { 'fechaStr': viajero.fechaNacimiento })) }}" readonly="readonly">
            </div>
        </div>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Asignar Viaje</h6>
    </div>
    <div class="card-body">
        <form id="form" class="user" action="{{ path('front_viajeros_asignar', { 'id': viajero.id }) }}" method="POST">
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label for="fechaViaje">Fecha del viaje</label>
                    <input type="text" class="form-control form-control-user masked" id="fechaViaje" name="fechaViaje" placeholder="Fecha del viaje" value="" data-inputmask="'alias': 'date'" value="{{ fechaViaje }}">
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label for="fechaRetorno">Fecha de retorno (Opcional)</label>
                    <input type="text" class="form-control form-control-user masked" id="fechaRetorno" name="fechaRetorno" placeholder="Fecha de retorno" value="" data-inputmask="'alias': 'date'" value="{{ fechaRetorno }}">
                </div>
            </div>
            <hr>
            <h6 class="m-0 font-weight-bold text-primary">Seleccione el viaje</h6>
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Seleccionar</th>
                            <th>Código</th>
                            <th>Plazas</th>
                            <th>Origen</th>
                            <th>Destino</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for travel in travels %}
                            {% if travel.plazas > 0 %}
                                <tr>
                                    <td align="center">
                                        <input type="radio" class="travel" name="travelId" id="travelId{{ travel.id }}" value="{{ travel.id }}">
                                        <label for="travelId{{ travel.id }}">&nbsp;</label>
                                    </td>
                                    <td>{{ travel.codigo }}</td>
                                    <td>{{ travel.plazas }}</td>
                                    <td>{{ travel.origen }}</td>
                                    <td>{{ travel.destino }}</td>
                                    <td>{{ travel.precio|number_format(2, ',', '.') }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                    <tfoot id="travelId-tfoot" style="display:none;">
                        <tr>
                            <td colspan="6">
                                <label id="travelId-error" class="error" for="travelId">Debe seleccionar un viaje</label>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" type="button" id="guardar">Asignar</button>
        <a class="btn btn-secondary" href="{{ path('front_viajeros_index') }}">Cancelar</a>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/assets/sb-admin-2/vendor/jquery-validation/jquery.validate.min.js"></script>
	<script src="/assets/sb-admin-2/vendor/jquery-validation/additional-methods.min.js"></script>
	<script src="/assets/sb-admin-2/js/jquery.inputmask.bundle.js"></script>
    <script src="/assets/js/asignar.js"></script>
{% endblock %}