{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.error {
		    color: #e74a3b;
		    font-size: 1rem;
		    position: relative;
		    line-height: 1;
		    padding-left: 15px;
		    width: 100%;
		}
	</style>
{% endblock %}

{% block body %}

<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Gestión de Viajeros</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Datos del Viajero</h6>
    </div>
    <div class="card-body">
        <form id="form" class="user" action="{{ path('front_viajeros_edit', { 'id': viajero.id }) }}" method="POST">
            <div class="form-group row">
                <div class="col-sm-4 mb-3 mb-sm-0">
                	<label for="cedula">Cédula</label>
                    <input type="text" class="form-control form-control-user" id="cedula" name="cedula" placeholder="Cédula" value="{{ viajero.cedula }}">
                </div>
                <div class="col-sm-4">
                	<label for="telefono">Teléfono</label>
                    <input type="text" class="form-control form-control-user" id="telefono" name="telefono" placeholder="Teléfono" value="{{ viajero.telefono }}">
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                	<label for="fechaNacimiento">Fecha de Nacimiento</label>
                    <input type="text" class="form-control form-control-user masked" id="fechaNacimiento" name="fechaNacimiento" placeholder="Fecha de Nacimiento" value="{{ viajero.fechaNacimientoFormateado }}" data-inputmask="'alias': 'date'">
                </div>
            </div>
            <div class="form-group">
            	<label for="nombre">Nombre Completo</label>
                <input type="text" class="form-control form-control-user" id="nombre" name="nombre" placeholder="Nombre del viajero" value="{{ viajero.nombre }}">
            </div>
        </form>
    </div>
    <div class="card-footer">
    	<button class="btn btn-primary" type="button" id="guardar">Guardar</button>
    	<a class="btn btn-secondary" href="{{ path('front_viajeros_index') }}">Cancelar</a>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/assets/sb-admin-2/vendor/jquery-validation/jquery.validate.min.js"></script>
	<script src="/assets/sb-admin-2/vendor/jquery-validation/additional-methods.min.js"></script>
	<script src="/assets/sb-admin-2/js/jquery.inputmask.bundle.js"></script>
    <script src="/assets/js/viajero.js"></script>
{% endblock %}