{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/assets/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block body %}

<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Gestión de Viajeros</h1>

<input type="hidden" id="url_delete" name="url_delete" value="{{ path('front_viajeros_delete') }}">
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary float-left">Listado de Viajeros</h6>
        <a href="{{ path('front_viajeros_edit') }}" class="btn btn-primary btn-icon-split float-right">
		    <span class="icon text-white-50">
		        <i class="fas fa-plus"></i>
		    </span>
		    <span class="text">Agregar Viajero</span>
		</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Edad</th>
                        <th>Teléfono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                	{% for viajero in viajeros %}
	                    <tr>
	                        <td>{{ viajero.cedula }}</td>
	                        <td>{{ viajero.nombre }}</td>
	                        <td>{{ render(controller('App\\Controller\\DefaultController::formatearFecha', { 'fechaStr': viajero.fechaNacimiento })) }}</td>
	                        <td>{{ render(controller('App\\Controller\\DefaultController::calcularEdad', { 'fechaStr': viajero.fechaNacimiento })) }}</td>
	                        <td>{{ viajero.telefono }}</td>
	                        <td>
	                        	<a href="{{ path('front_viajeros_edit', { 'id': viajero.id }) }}" class="btn btn-primary btn-circle" title="Editar">
                                    <i class="fas fa-user-edit"></i>
                                </a>
                                <a href="{{ path('front_viajeros_asignar', { 'id': viajero.id }) }}" class="btn btn-info btn-circle" title="Asignar Viaje">
                                    <i class="fas fa-hand-pointer"></i>
                                </a>
                                <a href="#" class="btn btn-danger btn-circle deleteItem" title="Eliminar" data="{{ viajero.id }}" data-toggle="modal" data-target="#deleteModal">
                                    <i class="fas fa-trash"></i>
                                </a>
	                        </td>
	                    </tr>
	                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/assets/sb-admin-2/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/js/datatables.js"></script>
{% endblock %}