{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.error {
		    color: #e74a3b;
		    font-size: 1rem;
		    position: relative;
		    line-height: 1;
		    padding-left: 15px;
		    width: 100%;
		}
	</style>
{% endblock %}

{% block body %}

<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Gestión de Viajes</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Datos del Viaje</h6>
    </div>
    <div class="card-body">
        <form id="form" class="user" action="{{ path('front_viajes_edit', { 'id': viaje.id }) }}" method="POST">
            <div class="form-group row">
                <div class="col-sm-4 mb-3 mb-sm-0">
                	<label for="codigo">Código</label>
                    <input type="text" class="form-control form-control-user" id="codigo" name="codigo" placeholder="Código" value="{{ viaje.codigo }}">
                </div>
                <div class="col-sm-4">
                	<label for="plazas">Plazas</label>
                    <input type="number" class="form-control form-control-user" id="plazas" name="plazas" min="1" placeholder="Cantidad de plazas" value="{{ viaje.plazas }}">
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                	<label for="precio">Precio</label>
                    <input type="number" class="form-control form-control-user" id="precio" name="precio" min="0" placeholder="Precio" value="{{ viaje.precio }}">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                	<label for="origen">Origen</label>
                    <input type="text" class="form-control form-control-user" id="origen" name="origen" placeholder="Origen del viaje" value="{{ viaje.origen }}">
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label for="destino">Destino</label>
                    <input type="text" class="form-control form-control-user" id="destino" name="destino" placeholder="Destino del viaje" value="{{ viaje.destino }}">
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
    	<button class="btn btn-primary" type="button" id="guardar">Guardar</button>
    	<a class="btn btn-secondary" href="{{ path('front_viajes_index') }}">Cancelar</a>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/assets/sb-admin-2/vendor/jquery-validation/jquery.validate.min.js"></script>
	<script src="/assets/sb-admin-2/vendor/jquery-validation/additional-methods.min.js"></script>
	<script src="/assets/sb-admin-2/js/jquery.inputmask.bundle.js"></script>
    <script src="/assets/js/viaje.js"></script>
{% endblock %}