{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/assets/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block body %}

<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Gestión de Viajes</h1>

<input type="hidden" id="url_delete" name="url_delete" value="{{ path('front_viajes_delete') }}">
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary float-left">Listado de Viajes</h6>
        <a href="{{ path('front_viajes_edit') }}" class="btn btn-primary btn-icon-split float-right">
		    <span class="icon text-white-50">
		        <i class="fas fa-plus"></i>
		    </span>
		    <span class="text">Agregar Viaje</span>
		</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Plazas</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                	{% for viaje in viajes %}
	                    <tr>
	                        <td>{{ viaje.codigo }}</td>
	                        <td>{{ viaje.plazas }}</td>
	                        <td>{{ viaje.origen }}</td>
	                        <td>{{ viaje.destino }}</td>
	                        <td>{{ viaje.precio|number_format(2, ',', '.') }}</td>
	                        <td>
	                        	<a href="{{ path('front_viajes_edit', { 'id': viaje.id }) }}" class="btn btn-primary btn-circle" title="Editar">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="#" class="btn btn-danger btn-circle deleteItem" title="Eliminar" data="{{ viaje.id }}" data-toggle="modal" data-target="#deleteModal">
                                    <i class="fas fa-trash"></i>
                                </a>
	                        </td>
	                    </tr>
	                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/assets/sb-admin-2/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/js/datatables.js"></script>
{% endblock %}